<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZiKhKMqWUEf3FDcYG9jEIeE7zKoQawUk</string>
	<key>GCM_SENDER_ID</key>
	<string>95107159948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nithish.fests</string>
	<key>PROJECT_ID</key>
	<string>fests-3bc00</string>
	<key>STORAGE_BUCKET</key>
	<string>fests-3bc00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95107159948:ios:b806b86e4fbc9a0b2e28a9</string>
</dict>
</plist>